<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>天猫回头盈利宝</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">天猫回头盈利宝</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
{#        <ul class="layui-nav layui-layout-left">#}
{#            <li class="layui-nav-item"><a href="">控制台</a></li>#}
{#            <li class="layui-nav-item"><a href="">商品管理</a></li>#}
{#            <li class="layui-nav-item"><a href="">用户</a></li>#}
{#            <li class="layui-nav-item">#}
{#                <a href="javascript:;">其它系统</a>#}
{#                <dl class="layui-nav-child">#}
{#                    <dd><a href="">邮件管理</a></dd>#}
{#                    <dd><a href="">消息管理</a></dd>#}
{#                    <dd><a href="">授权管理</a></dd>#}
{#                </dl>#}
{#            </li>#}
{#        </ul>#}
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/index/">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">用户操作统计</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="fetchCharts('click')">用户点击统计</a></dd>
                        <dd><a onclick="fetchCharts('add_cart')">用户添加购物车添加</a></dd>
                        <dd><a onclick="fetchCharts('purchase')">用户购买统计</a></dd>
                        <dd><a onclick="fetchCharts('add_favorite')">用户喜欢统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a onclick="fetchCharts('age')">年龄分布</a></li>
                <li class="layui-nav-item"><a onclick="fetchCharts('gender')">性别分布</a></li>
                <li class="layui-nav-item"><a onclick="fetchCharts('area')">地域分布情况</a></li>
                <li class="layui-nav-item" id="gmv"><a onclick="fetchCharts('gmv')">gmv变化</a></li>
                <li class="layui-nav-item"><a onclick="fetchCharts('roi')">ROI曲线</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        {% block content %}{% endblock %}
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 2020 All Reverse
    </div>
</div>
<script src="../static/layui/layui.js"></script>
{% block js %}
{% endblock %}
<script>
    //JavaScript代码区域


    layui.use('tree', function(){
        var element = layui.element;
    });
</script>
</body>
</html>