{% extends "base.html" %}

{% block content %}
    <div style="margin-top: 50px;width: 800px">
        <div id="bar" style="width: 800px;height:600px;padding-top: 100px;padding-bottom: 0px"></div>
    </div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
    let barChart = echarts.init(document.getElementById('bar'),'white', {renderer: 'canvas'})
    $(
    function () {
        function fetchData(chart) {
            $.ajax({
                url: '/test/',
                dataType: 'json',
                'Content-Type':'application/json',
                headers:{'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
                success:function (res) {
                    barChart.setOption(res.data)
                }
            })
        }

        fetchData(barChart);
    }
    );
</script>
{% endblock js%}